    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: 'Arial', sans-serif;
      background: url('./photo/Working\ Chis\ Sweet\ Home\ GIF.gif') center center / cover no-repeat;
    }

    .overlay {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 20px;
    }

    .profile-pic {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 20px;
      border: 3px solid #fff;
    }

    .profile-pic img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 900px;
      width: 100%;
      margin-top: 20px;
      background-color: #ffffff;
      background: rgba(255, 255, 255, 0.5); /* ทำให้พื้นหลังโปร่งแสง */
      border: 1px solid #a8a5a5;
      border-radius: 8px;
    }

    .left, .right {
      flex: 1 1 300px;
      padding: 20px;
    }

    h2 {
      margin-top: 0;
      font-size: 24px;
      text-align: center;
    }

    p {
      margin: 5px 0;
      font-size: 20px;
      text-align: center;
    }

    .social-icons {
      display: flex;
      gap: 10px;
      margin-top: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .social-icons a {
      text-decoration: none;
      color: inherit;
      font-size: 30px;
    }

    .social-icons img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      cursor: pointer;
      transform: transform 0.3s;
    }

    .social-icons img:hover {
      transform: scale(1.1);
    }
    
    .gamil {
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
    }

    .phone {
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
    }

    @media (max-width: 768px) {
      .content {
        flex-direction: column;
        align-items: center;
      }
    }