.mitr-extralight {
  font-family: "Mitr", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mitr-light {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mitr-regular {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mitr-medium {
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mitr-semibold {
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mitr-bold {
  font-family: "Mitr", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/*-----------------------------------------------*/
* {
    width: 90%;
    margin: auto;
}

body {
    background: url(./img/Gundam\ Wallpaper\ Live\ Robot\ GIF\ -\ Gundam\ Wallpaper\ Live\ Gundam\ Robot\ -\ Discover\ &\ Share\ GIFs.gif) center center/cover no-repeat;
}

.title {
    padding: 10px;
    background-color: (255, 255, 255 0.1);
    color: #ffffff;
    text-align: center;
    margin: auto;
}

.flex-con {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.flex-con h4 {
    text-align: center;
    color: #000000;
    margin: 8px;
}

.flex-con>div {
    background-color: #ffffff;
    border: 1px solid #9c9c9c;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 15px;
}

.flex-con img {
    align-items: center;
    object-fit: cover;
    height: 350px;
    width: 100%;
    border: 8px;
}

.flex-con img:hover {
    border-radius: 5px;
    zoom: 1.2;
    transform: scale(1.2);
    transition-delay: 500ms;
    transition: 500ms;
}

.footer {
    padding: 10px;
    margin: 10px;
}