#main {
    width: 90%;
    padding: auto;
    margin: auto;
}

dl {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

dl div {
    display:table-row;
}

dt {
    background-color:blanchedalmond;
    display: table-cell;
    border: 1px solid black;
    vertical-align: top;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
}

dd {
    background-color:blanchedalmond;
    display: table-cell;
    border: 1px solid black;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
}

h1 {
    text-align: center;
}

.menu {
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    font-size: x-large;
    transform: scale(1.1);
}